#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: block;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(139,69,19);
}

.list{
  padding-top: 50px;
 box-sizing: border-box;
 flex-wrap: wrap;
  display: flex;
   overflow: auto;
}

.column{
  margin-right: auto;
  position: relative;
}

.navbar{
  background-color: coral;
  font-size: xx-large;
  font-family: Luc;
}

